In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("Data/amazon_reviews.csv")
df.head()

,userName,verified,itemName,description,image,brand,feature,category,price,rating,reviewTime,summary,reviewText,vote
0,Amazon Customer,True,"Toblerone Swiss Milk Chocolate Bar, Crunchy Sa...","[""Made from deliciously decadent ingredients, ...",['https://images-na.ssl-images-amazon.com/imag...,Toblerone,[],Prime_Pantry,$1.63,5.0,2018-01-01,Five Stars,super smooth and yummy with crunchy bits,0
1,Carla,True,"Prince of Peace Organic Tea, Oolong, 100 Tea Bags","['Prince of Peace Enterprises, Inc., founded i...",['https://images-na.ssl-images-amazon.com/imag...,Prince Of Peace,[],Grocery_and_Gourmet_Food,$6.40,5.0,2018-01-01,Five Stars,Perfect for kombucha,0
2,Jaclyn,True,"Pet Champion Adjustable No-Pull Harness, Colla...","[""The Pet Champion Large/ Extra Large 22-36 in...",['https://images-na.ssl-images-amazon.com/imag...,Pet Champion,"['Features Bright Pink Lemonade pattern', 'Dua...",Pet_Supplies,$7.99,5.0,2018-01-01,she has an odd shape chest and her pull over h...,Finally a harness that fits my puppy. I really...,0
3,Christinne M,False,Koh-I-Noor Progresso Woodless Colored 24-Penci...,['Koh-I-Noor Progresso Woodless Colored 24-Pen...,['https://images-na.ssl-images-amazon.com/imag...,KOH-I-NOOR,"['Rich, pigmented, solid color encased in lacq...",Arts_Crafts_and_Sewing,$14.18,5.0,2018-01-01,Loving!!,I LOVE THEM!! I bought them at Micheals our of...,0
4,Sandy,True,"Parker Urban Premium Ebony Metal Chiseled, Bal...","[""Stunning craftsmanship based on a classic st...",['https://images-na.ssl-images-amazon.com/imag...,Parker,['Ebony black with metallic highlights and a g...,Office_Products,NaN,5.0,2018-01-01,I love this pen,"I love this pen! I love the shape of it, the f...",0

In [2]:
df2=pd.DataFrame()
df2["userName"]=df["userName"]
df2["itemName"]=df["itemName"]
df2.head()

          userName                                           itemName
0  Amazon Customer  Toblerone Swiss Milk Chocolate Bar, Crunchy Sa...
1            Carla  Prince of Peace Organic Tea, Oolong, 100 Tea Bags
2           Jaclyn  Pet Champion Adjustable No-Pull Harness, Colla...
3     Christinne M  Koh-I-Noor Progresso Woodless Colored 24-Penci...
4            Sandy  Parker Urban Premium Ebony Metal Chiseled, Bal...

In [3]:
df2=df2.drop(df2[df2["userName"]=="Amazon Customer"].index)
df2=df2.drop(df2[df2["userName"]=="Kindle Customer"].index)
df2=df2.reset_index()
df2.head()

   index      userName                                           itemName
0      1         Carla  Prince of Peace Organic Tea, Oolong, 100 Tea Bags
1      2        Jaclyn  Pet Champion Adjustable No-Pull Harness, Colla...
2      3  Christinne M  Koh-I-Noor Progresso Woodless Colored 24-Penci...
3      4         Sandy  Parker Urban Premium Ebony Metal Chiseled, Bal...
4      5      Karli S.  Merrick Whole Earth Farms Adult Recipe Dry Dog...

In [4]:
dic2={}
for i in range(len(df2)):
    cur=str(df2["itemName"][i]).replace(","," ")
    if cur not in dic2:
        dic2[cur]=set()
    dic2[cur].add(df2["userName"][i])
#print(dic2)

In [5]:
fro=[]
to=[]
for k,v in dic2.items():
    v=list(v)
    for i in range(len(v)):
        p=v[i]
        for j in range(i+1,len(v)):
            q=v[j]
            if p==" ":
                p="NA"
            if q==" ":
                q="NA"
            fro.append(p)
            to.append(q)
len(fro)
len(to)

6816784

In [6]:
df_node=pd.DataFrame()
df_node["from"]=fro
df_node["to"]=to
df_node["weight"]=[1]*len(df_node)
df_node.head()

   from              to  weight
0  Faye      mohnnad a.       1
1  Faye         Rebecca       1
2  Faye         Diana         1
3  Faye  Chris Griffith       1
4  Faye       DJ Kitten       1

In [7]:
group=df_node.groupby([df_node["from"], df_node["to"]])
df_group=group.sum()
df_group=df_group.reset_index()
df_group.head()

                from        to  weight
0   #345876236754444      Ally       1
1   #345876236754444  Diana M.       1
2   #345876236754444   Dianaru       1
3   #345876236754444  Dumpling       1
4   #345876236754444     Emily       1

In [8]:
df_group.to_csv("df_group.csv",index=False)

In [9]:
df_more=df_group.loc[df_group["weight"]>8]
len(df_more)
df_more.to_csv("df_more.csv",index=False)

In [11]:
a = []
f = open('df_more.csv','r',encoding='utf-8')
line = f.readline()
while line:
    a.append(line.replace("\n","").split(","))   
    line = f.readline()
f.close()

In [12]:
pip install pyvis

Requirement already satisfied: pyvis in c:\users\shimu\anaconda3\lib\site-packages (0.3.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: ipython>=5.3.0 in c:\users\shimu\anaconda3\lib\site-packages (from pyvis) (8.15.0)
Requirement already satisfied: jinja2>=2.9.6 in c:\users\shimu\anaconda3\lib\site-packages (from pyvis) (3.1.2)
Requirement already satisfied: jsonpickle>=1.4.1 in c:\users\shimu\anaconda3\lib\site-packages (from pyvis) (3.0.2)
Requirement already satisfied: networkx>=1.11 in c:\users\shimu\anaconda3\lib\site-packages (from pyvis) (3.1)
Requirement already satisfied: backcall in c:\users\shimu\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (0.2.0)
Requirement already satisfied: decorator in c:\users\shimu\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\shimu\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\shimu\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\shimu\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\shimu\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\shimu\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (2.15.1)
Requirement already satisfied: stack-data in c:\users\shimu\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\shimu\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (5.7.1)
Requirement already satisfied: colorama in c:\users\shimu\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\shimu\anaconda3\lib\site-packages (from jinja2>=2.9.6->pyvis) (2.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\shimu\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.3.0->pyvis) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\shimu\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=5.3.0->pyvis) (0.2.5)
Requirement already satisfied: executing in c:\users\shimu\anaconda3\lib\site-packages (from stack-data->ipython>=5.3.0->pyvis) (0.8.3)
Requirement already satisfied: asttokens in c:\users\shimu\anaconda3\lib\site-packages (from stack-data->ipython>=5.3.0->pyvis) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\shimu\anaconda3\lib\site-packages (from stack-data->ipython>=5.3.0->pyvis) (0.2.2)
Requirement already satisfied: six in c:\users\shimu\anaconda3\lib\site-packages (from asttokens->stack-data->ipython>=5.3.0->pyvis) (1.16.0)

In [13]:
from pyvis.network import Network
import networkx as nx
import matplotlib.pyplot as plt
from pylab import mpl
G = nx.Graph()
G.add_weighted_edges_from(a[1:])
net=Network(width="85%",notebook=True)
net.from_nx(G)

#net.show_buttons(filter_=['physics'])
net.show("example.html")

Warning: When  cdn_resources is 'local' jupyter notebook has issues displaying graphics on chrome/safari. Use cdn_resources='in_line' or cdn_resources='remote' if you have issues viewing graphics in a notebook.
example.html